/* TYPE COLORS */

[color="bug"]{ @include gradient($color-bug-dark, $color-bug-light); }
[color="dark"]{ @include gradient($color-dark-dark, $color-dark-light); }
[color="dragon"]{ @include gradient($color-dragon-dark, $color-dragon-light); }
[color="electric"]{ @include gradient($color-electric-dark, $color-electric-light); }
[color="fairy"]{ @include gradient($color-fairy-dark, $color-fairy-light); }
[color="fighting"]{ @include gradient($color-fighting-dark, $color-fighting-light); }
[color="fire"]{ @include gradient($color-fire-dark, $color-fire-light); }
[color="flying"]{ @include gradient($color-flying-dark, $color-flying-light); }
[color="ghost"]{ @include gradient($color-ghost-dark, $color-ghost-light); }
[color="grass"]{ @include gradient($color-grass-dark, $color-grass-light); }
[color="ground"]{ @include gradient($color-ground-dark, $color-ground-light); }
[color="ice"]{ @include gradient($color-ice-dark, $color-ice-light); }
[color="normal"]{ @include gradient($color-normal-dark, $color-normal-light); }
[color="poison"]{ @include gradient($color-poison-dark, $color-poison-light); }
[color="psychic"]{ @include gradient($color-psychic-dark, $color-psychic-light); }
[color="rock"]{ @include gradient($color-rock-dark, $color-rock-light); }
[color="steel"]{ @include gradient($color-steel-dark, $color-steel-light); }
[color="water"]{ @include gradient($color-water-dark, $color-water-light); }
[color="basic"]{ @include gradient($color-basic-dark, $color-basic-light); }

// Attribute lists

.attributes{
	display: flex;
	flex-wrap: wrap;

	div{
		padding:2px 8px;
		margin:5px;
		font-size:12px;
		color:$white;
		border:1px solid $gray;
		background:$gray;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
		cursor:default;

		&.cooldown{
			background-image: url(../img/clock.png);
		    background-size: contain;
		    background-repeat: no-repeat;
		    padding-left: 22px;
		}
	}
}

// Selectable Pokemon tiles

.pokemon-list{
	display: flex;
	flex-wrap: wrap;

	&.small{
		.pokemon{
			max-width: 40px;

			.image-container{
				height:30px;
				border-bottom-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.name{
				display: none;
			}
		}
	}

	.pokemon{
		position: relative;
		cursor:pointer;
		flex-basis: 33%;
		max-width: 33%;
		flex-grow: 1;

		&.add{
			.image{
				display:flex;
				justify-content: center;
				align-items: center;
				font-size:30px;
			}
		}

		&:hover{
			.image-container{
				border:3px solid $white;
			}
		}

		.image-container{
			width:100%;
			height:75px;
			border:3px solid $gray;
			box-sizing: border-box;
			position:relative;

			//@include transition(all, 0.125s, ease-out, 0s);

			.image{
				width:100%;
				height:100%;
				background-size: 125%;
				background-position: center center;
				background-repeat: no-repeat;

				@include transition(all, 0.25s, ease-out, 0s);
			}

			.items{
				width: 100%;
			    display: flex;
			    position: absolute;
			    bottom: 2px;
			    justify-content: space-around;

				.item{
					width: 22px;
				    height: 22px;
				    background-size: 80%;
				    background-color: $gray;
				    border-radius: 20px;
				    background-repeat: no-repeat;
				    background-position: center;
				    border: 2px solid $white;
				}
			}


		}

		.name{
			font-size: 12px;
			text-align: center;
			padding: 2px 0 8px 0;
		}

		a.remove{
			display:none;
			position: absolute;
			right: -2px;
		    top: -5px;
		    width: 30px;
		    height: 30px;
		}
	}
}

.disabled{
	pointer-events: none;
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	-moz-filter:    grayscale(100%);
	-ms-filter:     grayscale(100%);
	-o-filter:      grayscale(100%);
	filter: gray;
}
