body{
	background:
		linear-gradient(90deg, $background-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($background-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

#main{
	max-width: $max-container-width;
	margin: 0 auto;
}
