header{
	width:100%;
	position: fixed;
	top:0;
	z-index:25;

	.header-wrap{
		max-width: $max-container-width;
		margin: 0 auto;
		padding:5px $gutter-width 0 $gutter-width;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
		flex-wrap: wrap;
	}

	.title{
		margin: 0;
		font-size:24px;
		line-height: 24px;

		a{
			color:$white;
			font-weight:normal;
		}


		span{
			color:$accent-color;
			font-weight: 900;
			margin-left:10px;
			text-transform: uppercase;
		}
	}

	a{
		text-decoration: none;
	}
}


@media only screen and (min-width: $desktop-breakpoint) {
	header{
		position: relative;

		.header-wrap{
			padding:10px $gutter-width 0 $gutter-width;
		}

		.title{
	   		font-size:32px;
		}
	}
}
