
.menu{
	display:none;

	a{
		display: block;
		font-weight: bold;
		padding:10px;
		background:$gray;

		&.more{
			display: none;
		}
	}

	flex-basis: 100%;
}

.hamburger{
	display:block;
	cursor: pointer;

	.meat{
		width: 30px;
    	height: 4px;
	    margin: 5px 0;
	    background: $accent-color;
	}
}

.submenu{
	 overflow: hidden;
	 height: 0;
	 position: relative;
	 z-index: 5;
	 overflow: hidden;
	 white-space: nowrap;
	 -webkit-transition: all 0.125s linear 0s;
	 -moz-transition: all 0.125s linear 0s;
	 -o-transition: all 0.125s linear 0s;
	 transition: all 0.125s linear 0s;
}

header .submenu{
	height:auto;
}

@media only screen and (min-width: $desktop-breakpoint) {
	.menu{
		display:flex;
		flex-basis: auto;
		background:none;

		a{
			font-size: 24px;
		    padding: 10px 10px 0 10px;
		    margin-left: 40px;
		    background: none;

			&.more{
				display: block;

				&:after{
					font-size: 40px;
		    		line-height: 20px;
		    		content: "...";
				}
			}
		}

		.parent-menu{
			position: relative;

			& > a{
				background:none;
			}

			.submenu{
				padding-top: 10px;
			    max-width: 200px;
			    position: absolute;
				height:0;
				z-index: 5;
			    right: 0;
			    top: 35px;
				pointer-events: none;

				&.active{
					display: block;
				    height: 150px;
				    pointer-events: auto;
				}

				a{
					margin:0;
					padding:8px;
					font-size:16px;
					background:$gray;
				}
			}
		}
	}

	.hamburger{
		display: none;
	}
}
