button{
	display:block;
	border: 1px solid $accent-color;
	background:$accent-color;
	color:$white;
	padding:5px 10px;
	margin: 5px;
	outline:none;
	cursor: pointer;

	&.toggle{
		background:$black;
		color:$accent-color;

		&:hover{
			background:$gray;
		}

		&.on{
			color:$white;
			background:$accent-color;
		}
	}
}

button.select{
	font-weight:bold;
	font-size:18px;
	padding:10px 15px;
	margin:15px auto 0 auto;
}

.corners{
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}

.tabs{
	display:flex;
	margin:5px 0;

	a{
		padding: 5px 10px;
	    font-size: 12px;
	    text-align: center;
	    flex-grow: 1;
	    font-weight: bold;
	    text-decoration: none;

		&:hover{
			background:$gray;
		}

		&.active{
			background:$accent-color;
			color:$white;
		}
	}
}
