button,
.button{
	display:block;
	border: 1px solid $accent-color;
	background:$accent-color;
	color:$white;
	padding:5px 10px;
	margin: 5px;
	outline:none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;

	&.toggle{
		background:$black;
		color:$accent-color;

		&:hover{
			background:$gray;
		}

		&.on{
			color:$white;
			background:$accent-color;
		}
	}

	&.secondary{
		background:$secondary-color;
		border:1px solid $secondary-color;
		color:$bright-white;
	}

	&.big{
		font-size:24px;
		font-weight: bold;
		padding:20px;
		max-width:300px;
		margin:0 auto 20px auto;
	}
}

button.select{
	font-weight:bold;
	font-size:18px;
	padding:10px 15px;
	margin:15px auto 0 auto;
}

.corners{
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}

.tabs{
	display:flex;
	margin:5px 0;

	a{
		padding: 5px 10px;
	    font-size: 12px;
	    text-align: center;
	    flex-grow: 1;
	    font-weight: bold;
	    text-decoration: none;

		&:hover{
			background:$gray;
		}

		&.active{
			background:$accent-color;
			color:$white;
		}
	}
}

a.remove{
	border-radius: 20px;
	background:$black;
	color:$white;
	width:20px;
	height:20px;
	text-decoration: none;
	font-weight:bold;
	display: flex;
	padding:2px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
    font-size: 14px;

	&:hover{
		border:2px solid $white;
	}
}

/* Scrollbar styling */

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb{
	background: $accent-color;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
	background: $white;
}
::-webkit-scrollbar-track{
	background: $gray;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
