input{
	display: block;

	&[type="text"]{
		background:$black;
		color:$white;
		border-bottom:3px solid $accent-color;
		padding:10px 10px 6px 10px;
		outline:none;
		box-sizing: border-box;
		-webkit-appearance: none;
	}
}

.slider{

	width: 100%;
	margin: 0;
	outline:none;
	background:$gray;
	 -webkit-appearance: none; /* Override default look */

	&::-webkit-slider-thumb {
	  -webkit-appearance: none; /* Override default look */
	  appearance: none;
	  width: 15px;
	  height: 15px;
	  background: $accent-color;
	  cursor: pointer;
	}
}

button.toggle{
	border: 1px solid $accent-color;
	color:$accent-color;
	padding:5px 10px;
	margin: 5px;
	background:$black;
	outline:none;
	cursor: pointer;

	&:hover{
		background:$gray;
	}

	&.on{
		color:$white;
		background:$accent-color;
	}
}


.hide, .template{ display: none !important; }
