input{
	display: block;

	&[type="text"]{
		background:$black;
		color:$white;
		border-bottom:3px solid $accent-color;
		padding:10px 10px 6px 10px;
		outline:none;
		box-sizing: border-box;
		-webkit-appearance: none;
	}
}

.slider{

	width: 100%;
	margin: 0;
	outline:none;
	background:$gray;
	 -webkit-appearance: none; /* Override default look */

	&::-webkit-slider-thumb {
	  -webkit-appearance: none; /* Override default look */
	  appearance: none;
	  width: 15px;
	  height: 15px;
	  background: $accent-color;
	  cursor: pointer;
	}
}

.divider{
	margin:8px 0;
	height:1px;
	width:100%;
	background:$gray;
}

.share-link{
	display:flex;

	input{
		background:$gray;
		flex-basis:75%;
		font-size:12px;
	}

	button.copy{
		flex:1;
	}
}

.hide, .template{ display: none !important; }

// Checkbox

.check{
	margin-top:10px;
	cursor: pointer;

	span{
		display: block;
		width: 17px;
		height: 17px;
		background: $black;
		border: 2px solid $white;
		box-sizing:border-box;
		margin: 0px 5px 0 0;
		float: left;
	}

	&.on{
		span{
			background:$accent-color;
		}
	}

	&:hover:not(.on){
		span{
			background:$gray;
		}
	}
}

// Select dropdown formatting

select{
	background:$black;
	color:$white;
	width:200px;
	padding:5px 10px;
	box-sizing: border-box;
	font-size:18px;
}
