
.tooltip{
	position:absolute;
	display:none;
	padding:6px 10px;
	border:1px solid $white;
	background:$black;
	font-size:12px;
	max-width:250px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);

	&[context="stat-parts"]{
		.value{
			font-size:14px;
			font-weight: bold;
		}

		.stat-part:not(:first-of-type){
			color:$boosted-color;
		}
	}
}
