.build-list{
	display:flex;
	width:100%;
	overflow-x:auto;

	.build-select, .new-build-section{
		width:300px;
		margin-right:20px;
		flex-shrink: 0;
	}

	.build-select{
		border: 1px solid $gray;

		.nav-bar{
			background:$gray;
			height:30px;
			display: relative;

			.star{ display: none; }

			.menu{
				justify-content: flex-end;
				display: flex !important;

				a{
					text-decoration: none;

					&.options{
						padding-left:30px;
						margin-left: 0;
					}
				}
			}

			.submenu{
				padding-top:0;

				&.active{
					height:110px;
				}
			}

			.options{
				padding:4px 6px;
				.meat{
					background:$accent-color;
					width:5px;
					height:5px;
					margin-bottom:4px;
				}
			}
		}

		&:first-of-type{
			.star{
				display: block;
			    color: $white;
			    position: absolute;
			    font-size: 30px;
			    line-height: 30px;
			    margin-left: 5px;

				-moz-user-select: none;
			    -khtml-user-select: none;
			    -webkit-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			}
		}
	}
}

.new-build-section{

	a{
		display: block;
		text-decoration: none;
		border:1px solid $accent-color;
		text-align: center;
		font-weight: bold;
		font-size:18px;
	}

	a.new-build{
		padding:20px;
	}
}

.build-select{
	background:$black;

	.build-wrap{
		padding: 5px;
	}

	.poke-select{
		input.poke-search{
			width:100%;
			font-size:18px;
		}

		.pokemon-list{
			display: flex;
			flex-wrap: wrap;

			.pokemon{
				cursor:pointer;
				flex-basis: 33%;
				max-width: 33%;
				flex-grow: 1;

				.image-container{
					width:100%;
					height:100px;
					border:3px solid $gray;
					box-sizing: border-box;

					//@include transition(all, 0.125s, ease-out, 0s);

					.image{
						width:100%;
						height:100%;
					    background-size: 125%;
					    background-position: center center;

						@include transition(all, 0.25s, ease-out, 0s);
					}
				}

				.name{
					font-size: 12px;
				    text-align: center;
				    padding: 2px 0 8px 0;
				}

				&:hover{
					.image-container{
						border:3px solid $white;
					}
				}
			}
		}
	}

	.details{
		display:none;
	}

	.selected-pokemon{
		position:relative;
		border:1px solid $gray;
		height:100px;
		overflow:hidden;

		.image{
			height: 100%;
		    width: 100%;
		    margin-right: 10px;
		    background-size: 60%;
		    background-position: -20% 30%;
			background-repeat: no-repeat;
		    position: absolute;

			&.animate{
				@include transition(all, 0.2s, cubic-bezier(0.6, -0.15, 0.265, 1.55), 0s);
				background-position: -20% center;
			}
		}

		.container{
			display:flex;
			align-items: center;
			position: relative;
			justify-content: flex-end;
			height:100%;
			padding:10px;
			box-sizing: border-box;

			.name{
			    font-size: 24px;
			    color: $black;
			    font-weight: 900;
			    flex: 1;
			    text-transform: uppercase;
			    text-align: center;
				max-width: 80%;
				text-shadow: -1px 1px 0 $white,
							  1px 1px 0 $white,
							 1px -1px 0 $white,
							-1px -1px 0 $white;

			}

			a.remove{
				border-radius: 20px;
				background:$black;
				color:$white;
				width:20px;
				height:20px;
				text-decoration: none;
				font-weight:bold;
				display: flex;
				padding:2px;
			    align-items: center;
			    justify-content: center;
			}
		}
	}

	.attributes{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		div{
			padding:2px 5px;
			margin:5px;
			font-size:12px;
			background:$accent-color;
			color:$white;
			cursor:default;
		}
	}

	.stats{
		margin-top:15px;

		.stat{
			display:flex;
			align-items: center;
			margin:10px 0;

			& > div{
				margin-right:10px;
			}

			&.link{
				font-size:12px;
			}

			.stat-label{
				cursor: pointer;
				padding:4px 10px;
				border:1px solid $accent-color;
				color:$accent-color;
				min-width:80px;
				font-weight: bold;
				border-bottom-left-radius: 12px;
				border-top-right-radius: 12px;

				&:hover{
					background:$gray;
				}

				&.selected{
					background:$accent-color;
					color:$white;
				}
			}

			.stat-value{
				min-width: 50px;

				&.boosted{
					color:$boosted-color;
				}
			}

			.stat-difference{
				font-size:12px;
				opacity:0;
				min-width: 40px;
				min-height: 13px;

				@include transition(all, 0.125s, linear, 0s);

				&.positive, &.negative{
					color: #222222;
    				padding: 2px 6px;
					border-radius: 12px;
					text-align: center;
				}
				&.positive{ background: $positive-color; }
				&.negative{ background: $negative-color; }
			}
		}
	}

	canvas.progression{
		background:$black;
		border:1px solid $gray;
		width:95%;
		height:75px;
		box-sizing: border-box;
		margin: 15px auto 5px auto;
		display: block;
		margin-top: 15px;
	}

	.level{
		display: flex;
		margin: 5px 8px;

		.label{
			font-weight: bold;
			margin-right: 10px;
		}

	}

	.level-slider{
		margin: 5px 0 25px 0;
	}

	.held-items{
		display: flex;
		justify-content: space-between;

		.held-item{
			background-size: 85%;
		    background-position: center center;
		    background-repeat: no-repeat;
		}
	}

	.held-item, .battle-item .image, .move .image{
		display: flex;
	    justify-content: center;
	    align-items: center;
		cursor: pointer;
		width:30%;
		border:1px solid $gray;
		border-radius: 4px;
		box-sizing: border-box;
		height:50px;

		&:hover{
			background-color: $gray;
		}
	}

	.move,
	.battle-item{
		display: flex;
		align-items: center;
		cursor:pointer;
		margin-bottom: 5px;

		.image{
			width:50px;
			margin-right:10px;
		}

		&:hover{
			background:$gray;
		}
	}

	h4{
		margin: 25px 0 5px 0;
	}
}

.role-bg{
	background-image: radial-gradient(rgba(0,0,0,0.1) 25%, transparent 25%),
	radial-gradient(rgba(0,0,0,0.1) 25%, transparent 25%);
	background-size:60px 60px;
	background-position: 0 0, 30px 30px;

	&[role="attacker"]{ background-color:$attacker-color; }
	&[role="defender"]{ background-color:$defender-color; }
	&[role="supporter"]{ background-color:$supporter-color; }
	&[role="all_rounder"]{ background-color:$accent-color; }
	&[role="speedster"]{ background-color:$speedster-color; }
}
