.build-list{
	display:flex;
	width:100%;

	.build-select, .new-build-section{
		width:300px;
		margin-right:20px;
	}

	.build-select:first-of-type{

	}

	.build-select{
		border: 1px solid $gray;
	}
}

.new-build-section{

	a{
		display: block;
		text-decoration: none;
		border:1px solid $accent-color;
		text-align: center;
		font-weight: bold;
		font-size:18px;
	}

	a.new-build{
		padding:20px;
	}
}

.build-select{
	padding:5px;
	background:$black;

	.poke-select{
		input.poke-search{
			width:100%;
			font-size:18px;
		}

		.pokemon-list{
			display: flex;
			flex-wrap: wrap;

			.pokemon{
				cursor:pointer;
				width:100px;

				.image{
					width:100px;
					height:100px;
					border:1px solid $gray;
					box-sizing: border-box;
				}

				.name{
					font-size:10px;
					text-align: center;
					padding:5px 0;
				}

				&:hover{
					background:$gray;
				}
			}
		}
	}

	.details{
		display:none;
	}

	.selected-pokemon{
		border:1px solid $gray;
		height:100px;
	}

	.attributes{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		div{
			padding:2px 5px;
			margin:5px;
			font-size:12px;
			background:$accent-color;
			color:$white;
			cursor:default;
		}
	}

	.stats{
		margin-top:15px;

		.stat{
			display:flex;
			align-items: center;
			margin:10px 0;

			& > div{
				margin-right:10px;
			}

			.stat-label{
				cursor: pointer;
				padding:4px 10px;
				border:1px solid $accent-color;
				color:$accent-color;
				min-width:80px;

				&:hover{
					background:$gray;
				}

				&.selected{
					background:$accent-color;
					color:$white;
				}
			}

			.stat-value{
				font-weight: bold;
				min-width: 50px;
			}
		}
	}
}
