
#teams{
	.section.padding:first-of-type{
		padding-bottom: 0;
	}
}

.top-team-panel{
	display:flex;
	flex-wrap: wrap;

	select{
		margin:10px 40px 10px 0;
	}

}

.synergy{
	display:flex;
	align-items: center;

	.label{
		font-weight: bold;
	}
}


.lanes{
	.lane{
		max-width: 500px;
	    margin: 0 auto 20px auto;
	    background: $black;
	    border-bottom-left-radius: 20px;
	    border-top-right-radius: 20px;
	    overflow: hidden;

		&:last-of-type{
			margin-bottom: 0;
		}

		.header,
		.footer{
			display:flex;
			justify-content: space-between;
			background: $gray;
			padding: 5px 10px;

			.name{
				font-weight: bold;
				font-size: 18px;
			}

			.recommended-section{
				width:100%;
				display:flex;
				align-items: center;
				visibility: hidden;

				.label{
					font-size: 14px;
					margin-right:10px;
				}
			}
		}

		.footer{
			padding: 2px 10px;
			min-height: 34px;
			box-sizing: border-box;
		}

		.main.pokemon-list{
			padding:10px;
			justify-content: space-evenly;

			.pokemon{
				.image{
					background-size:100%;
				}
			}
		}

		.recommended.pokemon-list{
			width:100%;

			.pokemon{
				max-width: 40px;

				.image-container{
					height:30px;
					border-bottom-left-radius: 10px;
					border-top-right-radius: 10px;
				}

				.name{
					display: none;
				}
			}
		}
	}
}


.synergy{
	.label{
		font-size:14px;
		font-weight: normal;
		margin-right: 5px;
	}

	.synergy-meter{
		position: relative;

		.background, .stars{
			display:flex;
		}

		.background{
			position:relative;
			color:$black;
		}

		.stars{
			top:0;
			position: absolute;
			color:$boosted-color;
		}

		.star{
			line-height: 20px;
			font-size:24px;
			width:20px;

			&:after{
				content: '\2605';
			}

			&.half{
				overflow: hidden;
				width:10px;
			}
		}
	}
}
