@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

input[type=text] {
  border: none;
  outline: none;
}

body {
  color: #c8c8c8;
  font-family: sans-serif;
}

a {
  color: #9950c5;
}

/* TYPE COLORS */
[color=bug] {
  background: #62ba51;
  background: -moz-linear-gradient(39deg, #62ba51 26%, #f2fba1 77%);
  background: -webkit-linear-gradient(39deg, #62ba51 26%, #f2fba1 77%);
  background: linear-gradient(39deg, #62ba51 26%, #f2fba1 77%);
}

[color=dark] {
  background: #536cdf;
  background: -moz-linear-gradient(39deg, #536cdf 26%, #b8f2ff 77%);
  background: -webkit-linear-gradient(39deg, #536cdf 26%, #b8f2ff 77%);
  background: linear-gradient(39deg, #536cdf 26%, #b8f2ff 77%);
}

[color=dragon] {
  background: #6f4aaa;
  background: -moz-linear-gradient(39deg, #6f4aaa 26%, #e4a3e0 77%);
  background: -webkit-linear-gradient(39deg, #6f4aaa 26%, #e4a3e0 77%);
  background: linear-gradient(39deg, #6f4aaa 26%, #e4a3e0 77%);
}

[color=electric] {
  background: #eda921;
  background: -moz-linear-gradient(39deg, #eda921 26%, #f9e54c 77%);
  background: -webkit-linear-gradient(39deg, #eda921 26%, #f9e54c 77%);
  background: linear-gradient(39deg, #eda921 26%, #f9e54c 77%);
}

[color=fairy] {
  background: #ab7bff;
  background: -moz-linear-gradient(39deg, #ab7bff 26%, #f0b5c1 77%);
  background: -webkit-linear-gradient(39deg, #ab7bff 26%, #f0b5c1 77%);
  background: linear-gradient(39deg, #ab7bff 26%, #f0b5c1 77%);
}

[color=fighting] {
  background: #ffc618;
  background: -moz-linear-gradient(39deg, #ffc618 26%, #fffab8 77%);
  background: -webkit-linear-gradient(39deg, #ffc618 26%, #fffab8 77%);
  background: linear-gradient(39deg, #ffc618 26%, #fffab8 77%);
}

[color=fire] {
  background: #ff8928;
  background: -moz-linear-gradient(39deg, #ff8928 26%, #fff880 77%);
  background: -webkit-linear-gradient(39deg, #ff8928 26%, #fff880 77%);
  background: linear-gradient(39deg, #ff8928 26%, #fff880 77%);
}

[color=flying] {
  background: #4877af;
  background: -moz-linear-gradient(39deg, #4877af 26%, #acf6ff 77%);
  background: -webkit-linear-gradient(39deg, #4877af 26%, #acf6ff 77%);
  background: linear-gradient(39deg, #4877af 26%, #acf6ff 77%);
}

[color=ghost] {
  background: #992ad3;
  background: -moz-linear-gradient(39deg, #992ad3 26%, #f9a1f9 77%);
  background: -webkit-linear-gradient(39deg, #992ad3 26%, #f9a1f9 77%);
  background: linear-gradient(39deg, #992ad3 26%, #f9a1f9 77%);
}

[color=grass] {
  background: #149e5b;
  background: -moz-linear-gradient(39deg, #149e5b 26%, #76d95d 77%);
  background: -webkit-linear-gradient(39deg, #149e5b 26%, #76d95d 77%);
  background: linear-gradient(39deg, #149e5b 26%, #76d95d 77%);
}

[color=ground] {
  background: #ac601d;
  background: -moz-linear-gradient(39deg, #ac601d 26%, #fffd98 77%);
  background: -webkit-linear-gradient(39deg, #ac601d 26%, #fffd98 77%);
  background: linear-gradient(39deg, #ac601d 26%, #fffd98 77%);
}

[color=ice] {
  background: #649ee8;
  background: -moz-linear-gradient(39deg, #649ee8 26%, #cef7ff 77%);
  background: -webkit-linear-gradient(39deg, #649ee8 26%, #cef7ff 77%);
  background: linear-gradient(39deg, #649ee8 26%, #cef7ff 77%);
}

[color=normal] {
  background: #aed2e7;
  background: -moz-linear-gradient(39deg, #aed2e7 26%, #eff9ff 77%);
  background: -webkit-linear-gradient(39deg, #aed2e7 26%, #eff9ff 77%);
  background: linear-gradient(39deg, #aed2e7 26%, #eff9ff 77%);
}

[color=poison] {
  background: #5d4ba6;
  background: -moz-linear-gradient(39deg, #5d4ba6 26%, #ed92fd 77%);
  background: -webkit-linear-gradient(39deg, #5d4ba6 26%, #ed92fd 77%);
  background: linear-gradient(39deg, #5d4ba6 26%, #ed92fd 77%);
}

[color=psychic] {
  background: #653ed9;
  background: -moz-linear-gradient(39deg, #653ed9 26%, #fcb4ce 77%);
  background: -webkit-linear-gradient(39deg, #653ed9 26%, #fcb4ce 77%);
  background: linear-gradient(39deg, #653ed9 26%, #fcb4ce 77%);
}

[color=rock] {
  background: #5a2f1e;
  background: -moz-linear-gradient(39deg, #5a2f1e 26%, #efcc5d 77%);
  background: -webkit-linear-gradient(39deg, #5a2f1e 26%, #efcc5d 77%);
  background: linear-gradient(39deg, #5a2f1e 26%, #efcc5d 77%);
}

[color=steel] {
  background: #325da0;
  background: -moz-linear-gradient(39deg, #325da0 26%, #abe3fb 77%);
  background: -webkit-linear-gradient(39deg, #325da0 26%, #abe3fb 77%);
  background: linear-gradient(39deg, #325da0 26%, #abe3fb 77%);
}

[color=water] {
  background: #16a5e7;
  background: -moz-linear-gradient(39deg, #16a5e7 26%, #a2fcff 77%);
  background: -webkit-linear-gradient(39deg, #16a5e7 26%, #a2fcff 77%);
  background: linear-gradient(39deg, #16a5e7 26%, #a2fcff 77%);
}

[color=basic] {
  background: #66c5d4;
  background: -moz-linear-gradient(39deg, #66c5d4 26%, #bdf2f5 77%);
  background: -webkit-linear-gradient(39deg, #66c5d4 26%, #bdf2f5 77%);
  background: linear-gradient(39deg, #66c5d4 26%, #bdf2f5 77%);
}

.attributes {
  display: flex;
  flex-wrap: wrap;
}
.attributes div {
  padding: 2px 8px;
  margin: 5px;
  font-size: 12px;
  color: #c8c8c8;
  border: 1px solid #222222;
  background: #222222;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: default;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}
.pokemon-list.small .pokemon {
  max-width: 40px;
}
.pokemon-list.small .pokemon .image-container {
  height: 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pokemon-list.small .pokemon .name {
  display: none;
}
.pokemon-list .pokemon {
  position: relative;
  cursor: pointer;
  flex-basis: 33%;
  max-width: 33%;
  flex-grow: 1;
}
.pokemon-list .pokemon.add .image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.pokemon-list .pokemon:hover .image-container {
  border: 3px solid #c8c8c8;
}
.pokemon-list .pokemon .image-container {
  width: 100%;
  height: 75px;
  border: 3px solid #222222;
  box-sizing: border-box;
}
.pokemon-list .pokemon .image-container .image {
  width: 100%;
  height: 100%;
  background-size: 125%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.25s ease-out 0s;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}
.pokemon-list .pokemon .name {
  font-size: 12px;
  text-align: center;
  padding: 2px 0 8px 0;
}
.pokemon-list .pokemon a.remove {
  display: none;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}

.menu {
  display: none;
  flex-basis: 100%;
}
.menu a {
  display: block;
  font-weight: bold;
  padding: 10px;
  background: #222222;
}
.menu a.more {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger .meat {
  width: 40px;
  height: 6px;
  margin: 5px 0;
  background: #9950c5;
}

.submenu {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  -webkit-transition: all 0.125s linear 0s;
  -moz-transition: all 0.125s linear 0s;
  -o-transition: all 0.125s linear 0s;
  transition: all 0.125s linear 0s;
}

header .submenu {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-basis: auto;
    background: none;
  }
  .menu a {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    margin-left: 40px;
    background: none;
  }
  .menu a.more {
    display: block;
  }
  .menu a.more:after {
    font-size: 40px;
    line-height: 20px;
    content: "...";
  }
  .menu .parent-menu {
    position: relative;
  }
  .menu .parent-menu .submenu {
    padding-top: 10px;
    max-width: 200px;
    position: absolute;
    height: 0;
    z-index: 5;
    right: 0;
    top: 35px;
  }
  .menu .parent-menu .submenu.active {
    display: block;
    height: 150px;
    pointer-events: auto;
  }
  .menu .parent-menu .submenu a {
    margin: 0;
    padding: 8px;
    font-size: 16px;
    background: #222222;
  }

  .hamburger {
    display: none;
  }
}
body {
  background-color: #f3fbfe;
  background: url("../img/unite-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  min-height: 100%;
}

.main-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}

.section.patterned {
  background: linear-gradient(90deg, #141414 20px, transparent 1%) center, linear-gradient(#141414 20px, transparent 1%) center, #323232;
  background-size: 22px 22px;
}
.section.padding {
  padding: 20px 0;
}

header .header-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 8px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
header .title {
  margin: 0;
}
header .title a {
  color: #c8c8c8;
  font-weight: normal;
}
header .title span {
  color: #9950c5;
  font-weight: 900;
  margin-left: 10px;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}

button {
  display: block;
  border: 1px solid #9950c5;
  background: #9950c5;
  color: #c8c8c8;
  padding: 5px 10px;
  margin: 5px;
  outline: none;
  cursor: pointer;
}
button.toggle {
  background: #141414;
  color: #9950c5;
}
button.toggle:hover {
  background: #222222;
}
button.toggle.on {
  color: #c8c8c8;
  background: #9950c5;
}

button.select {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px auto 0 auto;
}

.corners {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.tabs {
  display: flex;
  margin: 5px 0;
}
.tabs a {
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  text-decoration: none;
}
.tabs a:hover {
  background: #222222;
}
.tabs a.active {
  background: #9950c5;
  color: #c8c8c8;
}

a.remove {
  border-radius: 20px;
  background: #141414;
  color: #c8c8c8;
  width: 20px;
  height: 20px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
}
a.remove:hover {
  border: 2px solid #c8c8c8;
}

input {
  display: block;
}
input[type=text] {
  background: #141414;
  color: #c8c8c8;
  border-bottom: 3px solid #9950c5;
  padding: 10px 10px 6px 10px;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.slider {
  width: 100%;
  margin: 0;
  outline: none;
  background: #222222;
  -webkit-appearance: none;
  /* Override default look */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  height: 15px;
  background: #9950c5;
  cursor: pointer;
}

.divider {
  margin: 8px 0;
  height: 1px;
  width: 100%;
  background: #222222;
}

.share-link {
  display: flex;
}
.share-link input {
  background: #222222;
  flex-basis: 75%;
  font-size: 12px;
}
.share-link button.copy {
  flex: 1;
}

.hide, .template {
  display: none !important;
}

.check {
  margin-top: 10px;
  cursor: pointer;
}
.check span {
  display: block;
  width: 17px;
  height: 17px;
  background: #141414;
  border: 2px solid #c8c8c8;
  box-sizing: border-box;
  margin: 0px 5px 0 0;
  float: left;
}
.check.on span {
  background: #9950c5;
}
.check:hover:not(.on) span {
  background: #222222;
}

select {
  background: #141414;
  color: #c8c8c8;
  width: 200px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.35);
  z-index: 30;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.modal .modal-container {
  position: relative;
  background: #141414;
  margin: 0 auto;
  max-width: 400px;
  vertical-align: middle;
  margin-top: 50px;
  overflow: hidden;
}
.modal .modal-container .modal-header {
  padding: 10px;
  background: #222222;
  font-size: 16px;
  font-weight: bold;
}
.modal .modal-container .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.modal .modal-container .modal-close:after {
  content: "X";
}
.modal .modal-container .modal-content {
  padding: 10px;
}

.select-modal .item, .select-modal .selected-item {
  display: flex;
  align-items: center;
}
.select-modal .item .image, .select-modal .selected-item .image {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  border: 1px solid #222222;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.select-modal .selected-item {
  margin-bottom: 10px;
}
.select-modal .selected-item .name {
  font-size: 22px;
  font-weight: bold;
}
.select-modal .item {
  padding: 10px;
  cursor: pointer;
}
.select-modal .item:hover {
  background: #222222;
}
.select-modal .item.selected {
  background: #9950c5 !important;
}
.select-modal .item.disabled {
  background: none !important;
}
.select-modal .selected-description {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #222222;
  line-height: 20px;
  font-size: 14px;
}
.select-modal .selected-description .value, .select-modal .selected-description .boosts span {
  font-weight: bold;
  color: #f0d50a;
}
.select-modal .selected-description .boosts {
  margin-top: 15px;
}
.select-modal .selected-description .boosts .boost {
  background: #222222;
  margin: 5px 0;
  padding: 2px 10px;
}
.select-modal .selected-description .boosts .boost span {
  display: inline-block;
  min-width: 45px;
}
.select-modal .selected-description .upgrade-description {
  margin-top: 10px;
}
.select-modal .item-list {
  max-height: 340px;
  overflow-y: auto;
}
.select-modal .item-list .image {
  border: none;
  width: 25px;
  height: 25px;
}
.select-modal[type=move] .image {
  border-radius: 100px;
  background-color: #c8c8c8;
}
.select-modal[type=move] .selected-item .image .asset {
  background-size: 92%;
  background-position: center center;
  border-radius: 100px;
}
.select-modal .image .asset {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 100px;
}

.tooltip {
  position: absolute;
  display: none;
  padding: 6px 10px;
  border: 1px solid #c8c8c8;
  background: #141414;
  font-size: 12px;
  max-width: 250px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.tooltip[context=stat-parts] .value {
  font-size: 14px;
  font-weight: bold;
}
.tooltip[context=stat-parts] .stat-part:not(:first-of-type) {
  color: #f0d50a;
}

.build-list {
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.build-list .build-select, .build-list .new-build-section {
  width: 250px;
  margin-right: 20px;
  flex-shrink: 0;
}
.build-list .build-select {
  border: 1px solid #222222;
}
.build-list .build-select .nav-bar {
  background: #222222;
  height: 30px;
  position: relative;
}
.build-list .build-select .nav-bar .star {
  display: none;
  color: #c8c8c8;
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  margin-left: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.build-list .build-select .nav-bar .menu {
  justify-content: flex-end;
  display: flex !important;
  position: relative;
}
.build-list .build-select .nav-bar .menu a {
  text-decoration: none;
}
.build-list .build-select .nav-bar .menu a.options {
  padding-left: 30px;
  margin-left: 0;
  background: none;
}
.build-list .build-select .nav-bar .submenu {
  padding-top: 0;
  max-width: 200px;
  position: absolute;
  height: 0;
  z-index: 5;
  right: 0;
  font-size: 16px;
  top: 30px;
}
.build-list .build-select .nav-bar .submenu.active {
  height: 140px;
}
.build-list .build-select .nav-bar .submenu a.add-to-favorites, .build-list .build-select .nav-bar .submenu a.save-changes {
  display: none;
}
.build-list .build-select .nav-bar .options {
  padding: 4px 6px;
}
.build-list .build-select .nav-bar .options .meat {
  background: #9950c5;
  width: 5px;
  height: 5px;
  margin-bottom: 4px;
}
.build-list .build-select:first-of-type {
  background: #190c20;
}
.build-list .build-select:first-of-type .nav-bar {
  background: #4b1f62;
}

.builds-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.builds-nav button {
  margin: 0 10px 0 0;
}
.builds-nav .build-count {
  font-weight: bold;
  margin-right: 15px;
}

.build-list[stats=true] .advanced {
  display: block;
}

.build-list[full=true] a.duplicate {
  display: none;
}

.new-build-section a {
  display: block;
  text-decoration: none;
  border: 1px solid #9950c5;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.new-build-section a.new-build {
  padding: 20px;
}

.build-select {
  background: #141414;
}
.build-select .build-wrap {
  padding: 5px;
}
.build-select .poke-select input.poke-search {
  width: 100%;
  font-size: 18px;
}
.build-select .details {
  display: none;
}
.build-select .selected-pokemon {
  position: relative;
  border: 1px solid #222222;
  height: 75px;
  overflow: hidden;
}
.build-select .selected-pokemon .image {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  background-size: 60%;
  background-position: -20% 30%;
  background-repeat: no-repeat;
  position: absolute;
}
.build-select .selected-pokemon .image.animate {
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.15, 0.265, 1.55) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.6, -0.15, 0.265, 1.55) 0s;
  -o-transition: all 0.2s cubic-bezier(0.6, -0.15, 0.265, 1.55) 0s;
  transition: all 0.2s cubic-bezier(0.6, -0.15, 0.265, 1.55) 0s;
  background-position: -20% center;
}
.build-select .selected-pokemon .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.build-select .selected-pokemon .container .name {
  font-size: 24px;
  color: #141414;
  font-weight: 900;
  flex: 1;
  text-transform: uppercase;
  text-align: center;
  max-width: 90%;
  text-shadow: -1px 1px 0 #c8c8c8, 1px 1px 0 #c8c8c8, 1px -1px 0 #c8c8c8, -1px -1px 0 #c8c8c8;
}
.build-select .attributes {
  justify-content: center;
}
.build-select .advanced {
  display: none;
}
.build-select .stats {
  margin-top: 15px;
  font-size: 14px;
}
.build-select .stats .stat {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.build-select .stats .stat > div {
  margin-right: 10px;
}
.build-select .stats .stat.link {
  font-size: 12px;
}
.build-select .stats .stat .stat-label {
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid #9950c5;
  color: #9950c5;
  min-width: 80px;
  font-weight: bold;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}
.build-select .stats .stat .stat-label:hover {
  background: #222222;
}
.build-select .stats .stat .stat-label.selected {
  background: #9950c5;
  color: #c8c8c8;
}
.build-select .stats .stat .stat-value {
  min-width: 50px;
}
.build-select .stats .stat .stat-value.boosted {
  color: #f0d50a;
}
.build-select .stats .stat .stat-difference {
  font-size: 12px;
  opacity: 0;
  min-width: 40px;
  min-height: 13px;
  -webkit-transition: all 0.125s linear 0s;
  -moz-transition: all 0.125s linear 0s;
  -o-transition: all 0.125s linear 0s;
  transition: all 0.125s linear 0s;
}
.build-select .stats .stat .stat-difference.positive, .build-select .stats .stat .stat-difference.negative {
  color: #222222;
  padding: 2px 6px;
  border-radius: 12px;
  text-align: center;
}
.build-select .stats .stat .stat-difference.positive {
  background: #91c74c;
}
.build-select .stats .stat .stat-difference.negative {
  background: #c7524c;
}
.build-select canvas.progression {
  background: #141414;
  border: 1px solid #222222;
  width: 95%;
  height: 75px;
  box-sizing: border-box;
  margin: 15px auto 5px auto;
  display: block;
  margin-top: 15px;
}
.build-select .advanced-stats {
  margin-top: 15px;
}
.build-select .level {
  display: flex;
}
.build-select .level .label {
  font-weight: bold;
  margin-right: 10px;
}
.build-select .level-slider-wrap {
  padding: 5px 0 5px 0;
}
.build-select .held-items {
  display: flex;
  justify-content: space-between;
}
.build-select .held-items .held-item {
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.build-select .held-item, .build-select .battle-item .image, .build-select .move .image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30%;
  border: 1px solid #222222;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
  background-size: 100%;
}
.build-select .held-item .asset, .build-select .battle-item .image .asset, .build-select .move .image .asset {
  background-size: 100%;
}
.build-select .held-item:hover, .build-select .battle-item:hover, .build-select .move:hover {
  background-color: #222222;
}
.build-select .move,
.build-select .battle-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.build-select .move .image,
.build-select .battle-item .image {
  width: 50px;
  margin-right: 10px;
}
.build-select .move:hover,
.build-select .battle-item:hover {
  background: #222222;
}
.build-select .move .image {
  border-radius: 100px;
  background-color: #c8c8c8;
}
.build-select .move .image .asset {
  width: 100%;
  height: 100%;
}
.build-select h4 {
  margin: 25px 0 5px 0;
}

.role-bg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 25%, transparent 25%), radial-gradient(rgba(0, 0, 0, 0.1) 25%, transparent 25%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.role-bg[role=attacker] {
  background-color: #f16c39;
}
.role-bg[role=defender] {
  background-color: #abee5a;
}
.role-bg[role=supporter] {
  background-color: #fecc52;
}
.role-bg[role=all_rounder] {
  background-color: #9950c5;
}
.role-bg[role=speedster] {
  background-color: #29a5e3;
}

@media only screen and (min-width: 768px) {
  .build-list .build-select, .build-list .new-build-section {
    width: 280px;
  }
  .build-list[full=true] .build-select:nth-last-child(2) {
    margin-right: 0;
  }
  .build-list[full=false] .new-build-section {
    margin-right: 0;
  }

  .build-select .selected-pokemon {
    height: 100px;
  }
  .build-select .selected-pokemon .container .name {
    max-width: 80%;
  }
  .build-select .stats {
    font-size: 16px;
  }
  .build-select .stats .stat .stat-label {
    padding: 4px 10px;
  }
}
#teams .section.padding:first-of-type {
  padding-bottom: 0;
}

.top-team-panel {
  display: flex;
  flex-wrap: wrap;
}
.top-team-panel select {
  margin: 10px 40px 10px 0;
}

.lanes .lane {
  max-width: 500px;
  margin: 0 auto 20px auto;
  background: #141414;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.lanes .lane:last-of-type {
  margin-bottom: 0;
}
.lanes .lane .header,
.lanes .lane .footer {
  display: flex;
  justify-content: space-between;
  background: #222222;
  padding: 5px 10px;
}
.lanes .lane .header .name,
.lanes .lane .footer .name {
  font-weight: bold;
  font-size: 18px;
}
.lanes .lane .header .recommended-section,
.lanes .lane .footer .recommended-section {
  width: 100%;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.lanes .lane .header .recommended-section .label,
.lanes .lane .footer .recommended-section .label {
  font-size: 14px;
  margin-right: 10px;
}
.lanes .lane .footer {
  padding: 2px 10px;
  min-height: 34px;
  box-sizing: border-box;
}
.lanes .lane .main.pokemon-list {
  padding: 10px;
  justify-content: space-evenly;
}
.lanes .lane .main.pokemon-list .pokemon .image {
  background-size: 100%;
}
.lanes .lane .recommended.pokemon-list {
  width: 100%;
}

.synergy {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.synergy .label {
  font-size: 14px;
  margin-right: 5px;
}
.synergy .synergy-meter {
  position: relative;
}
.synergy .synergy-meter .background, .synergy .synergy-meter .stars {
  display: flex;
}
.synergy .synergy-meter .background {
  position: relative;
  color: #141414;
}
.synergy .synergy-meter .stars {
  top: 0;
  position: absolute;
  color: #f0d50a;
}
.synergy .synergy-meter .star {
  line-height: 20px;
  font-size: 24px;
  width: 20px;
}
.synergy .synergy-meter .star:after {
  content: "★";
}
.synergy .synergy-meter .star.half {
  overflow: hidden;
  width: 10px;
}

.synergy-modal .synergy-detail {
  margin-bottom: 10px;
}
.synergy-modal .synergy-detail .bars {
  display: flex;
  height: 20px;
  background: #222222;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.synergy-modal .synergy-detail .bars .bar {
  height: 100%;
  border: 1px solid #141414;
  box-sizing: border-box;
}
.synergy-modal .synergy-detail .bars .bar .image {
  width: 20px;
  height: 100%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}
.synergy-modal .synergy-detail .label {
  font-size: 12px;
}
.synergy-modal .pokemon-list {
  pointer-events: none;
  margin-bottom: 10px;
}
.synergy-modal h4 {
  font-size: 18px;
}
.synergy-modal p {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
