@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/body';
@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';

@import 'pages/home';

@import 'themes/default-theme';
