@mixin transition($type, $duration, $ease, $delay){
	-webkit-transition: $type $duration $ease $delay;
	-moz-transition: $type $duration $ease $delay;
	-o-transition: $type $duration $ease $delay;
	transition: $type $duration $ease $delay;
}

@mixin gradient($light, $dark){
	background: $light;
	background: -moz-linear-gradient(39deg, $light 26%, $dark 77%);
	background: -webkit-linear-gradient(39deg, $light 26%, $dark 77%);
	background: linear-gradient(39deg, $light 26%, $dark 77%);
}
