@mixin transition($type, $duration, $ease, $delay){
	-webkit-transition: $type $duration $ease $delay;
	-moz-transition: $type $duration $ease $delay;
	-o-transition: $type $duration $ease $delay;
	transition: $type $duration $ease $delay;
}

@mixin gradient($light, $dark){
	background: $dark; /* Old browsers */
	background: -moz-linear-gradient(top, $light 30%, $dark 99%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $light 30%,$dark 99%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $light 30%,$dark 99%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
