$background-color: rgb(20, 20, 20);

$dot-color: rgb(50,50,50);
$dot-size: 2px;
$dot-space: 22px;

$max-container-width: 1200px;

$accent-color:#9950c5;
$primary-selector-color:#190c20;
$primary-header-color:#4b1f62;
$black: #141414;
$gray: #222222;
$white: #c8c8c8;

$positive-color:#91c74c;
$negative-color:#c7524c;
$boosted-color:#f0d50a;

$attacker-color:#f16c39;
$defender-color:#abee5a;
$supporter-color:#fecc52;
$all-rounder-color:#cd5fd1;
$speedster-color:#29a5e3;

$desktop-breakpoint:768px;
$gutter-width:8px;

/*
$background-color: rgb(240, 240, 240);

$dot-color: rgb(210,210,210);
*/
