RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteCond %{HTTP_HOST} ^www\.pvpoke\.com [NC]
# RewriteRule ^(.*)$ https://pvpoke.com/$1 [L,R=301]

RewriteRule builds/([a-zA-Z0-9-,_]+).*$ builds.php?builds=$1 [L,QSA]
RewriteRule builds.?$ builds.php [L,QSA]

RewriteRule settings.?$ settings.php [L,QSA]

RewriteRule teams.?$ teams.php [L,QSA]


# Redirect index.php to /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.php($|\ |\?)
RewriteRule ^ /%1 [R=301,L]
